<?xml version="1.0" ?>
<Root>
  <Node action="Click" bounds="[1132,98][1300,266]" checkable="false" checked="false" class="android.widget.TextView" clickable="true" content-desc="Search" enabled="true" focusable="true" focused="false" index="1" long-clickable="true" package="com.android.contacts" password="false" resource-id="com.android.contacts:id/menu_search" scrollable="false" selected="false" text=""/>
  <Node action="Click" bounds="[1300,98][1440,266]" checkable="false" checked="false" class="android.widget.ImageButton" clickable="true" content-desc="More options" enabled="true" focusable="true" focused="false" index="2" long-clickable="true" package="com.android.contacts" password="false" resource-id="" scrollable="false" selected="false" text=""/>
  <Node action="Click" bounds="[0,280][553,476]" checkable="false" checked="false" class="android.widget.TextView" clickable="true" content-desc="" enabled="true" focusable="false" focused="false" index="0" long-clickable="true" package="com.android.contacts" password="false" resource-id="" scrollable="false" selected="false" text="FAVORITES"/>
  <Node action="Click" bounds="[553,280][944,476]" checkable="false" checked="false" class="android.widget.TextView" clickable="true" content-desc="" enabled="true" focusable="false" focused="false" index="1" long-clickable="true" package="com.android.contacts" password="false" resource-id="" scrollable="false" selected="true" text="ALL"/>
  <Node action="Click" bounds="[944,280][1440,476]" checkable="false" checked="false" class="android.widget.TextView" clickable="true" content-desc="" enabled="true" focusable="false" focused="false" index="2" long-clickable="true" package="com.android.contacts" password="false" resource-id="" scrollable="false" selected="false" text="GROUPS"/>
  <Node action="Click" bounds="[224,535][1328,759]" checkable="false" checked="false" class="android.widget.Button" clickable="true" content-desc="" enabled="true" focusable="true" focused="false" index="1" long-clickable="false" package="com.android.contacts" password="false" resource-id="com.android.contacts:id/user_profile_button" scrollable="false" selected="false" text="Set up my profile"/>
  <Node action="Click" bounds="[0,784][1440,1008]" checkable="false" checked="false" class="android.view.ViewGroup" clickable="true" content-desc="" enabled="true" focusable="false" focused="false" index="2" long-clickable="true" package="com.android.contacts" password="false" resource-id="" scrollable="false" selected="false" text=""/>
  <Node action="Click" bounds="[0,1008][1440,1232]" checkable="false" checked="false" class="android.view.ViewGroup" clickable="true" content-desc="" enabled="true" focusable="false" focused="false" index="3" long-clickable="true" package="com.android.contacts" password="false" resource-id="" scrollable="false" selected="false" text=""/>
  <Node action="Click" bounds="[0,1232][1440,1456]" checkable="false" checked="false" class="android.view.ViewGroup" clickable="true" content-desc="" enabled="true" focusable="false" focused="false" index="4" long-clickable="true" package="com.android.contacts" password="false" resource-id="" scrollable="false" selected="false" text=""/>
  <Node action="Click" bounds="[1132,2140][1328,2336]" checkable="false" checked="false" class="android.widget.ImageButton" clickable="true" content-desc="add new contact" enabled="true" focusable="true" focused="false" index="5" long-clickable="false" package="com.android.contacts" password="false" resource-id="com.android.contacts:id/floating_action_button" scrollable="false" selected="false" text=""/>
</Root>
