<?xml version="1.0" encoding="utf-8"?>
<Root>
	<Node action="Click" bounds="[816,84][960,228]" checkable="false" checked="false" class="android.widget.TextView" clickable="true" content-desc="搜索" enabled="true" focusable="true" focused="false" index="1" long-clickable="true" package="com.android.contacts" password="false" resource-id="com.android.contacts:id/menu_search" scrollable="false" selected="false" text=""/>
	<Node action="Click" bounds="[960,84][1080,228]" checkable="false" checked="false" class="android.widget.ImageButton" clickable="true" content-desc="更多选项" enabled="true" focusable="true" focused="false" index="2" long-clickable="false" package="com.android.contacts" password="false" resource-id="" scrollable="false" selected="false" text=""/>
	<Node action="Click" bounds="[0,240][360,408]" checkable="false" checked="false" class="android.widget.TextView" clickable="true" content-desc="" enabled="true" focusable="false" focused="false" index="0" long-clickable="true" package="com.android.contacts" password="false" resource-id="" scrollable="false" selected="true" text="收藏"/>
	<Node action="Click" bounds="[360,240][720,408]" checkable="false" checked="false" class="android.widget.TextView" clickable="true" content-desc="" enabled="true" focusable="false" focused="false" index="1" long-clickable="true" package="com.android.contacts" password="false" resource-id="" scrollable="false" selected="false" text="全部"/>
	<Node action="Click" bounds="[720,240][1080,408]" checkable="false" checked="false" class="android.widget.TextView" clickable="true" content-desc="" enabled="true" focusable="false" focused="false" index="2" long-clickable="true" package="com.android.contacts" password="false" resource-id="" scrollable="false" selected="false" text="群组"/>
	<Node action="Click" bounds="[13,408][364,848]" checkable="false" checked="false" class="android.widget.FrameLayout" clickable="true" content-desc="" enabled="true" focusable="true" focused="false" index="0" long-clickable="false" package="com.android.contacts" password="false" resource-id="" scrollable="false" selected="false" text=""/>
	<Node action="Click" bounds="[816,1704][984,1872]" checkable="false" checked="false" class="android.widget.ImageButton" clickable="true" content-desc="添加新联系人" enabled="true" focusable="true" focused="false" index="5" long-clickable="false" package="com.android.contacts" password="false" resource-id="com.android.contacts:id/floating_action_button" scrollable="false" selected="false" text=""/>
</Root>
