<?xml version="1.0" encoding="utf-8"?>
<Root>
<Node eigenvalue="[aa[ap[ak[ab]]]]" level="-1"/>
<Node eigenvalue="[aa[ab][ab][ac][AD[ab][ab][ab]][ae[ab]][ac]]" level="0">
<Next>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.contacts', 'text': u'', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1132,98][1300,266]', 'content-desc': u'Search', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.contacts:id/menu_search', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}" eigenvalue="[aa[ac][am][ae[AF[aa[ab][ag]][ah[ab][ab]]]]]"/>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.contacts', 'text': u'', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1300,98][1440,266]', 'content-desc': u'More options', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}" eigenvalue="[aa[AF[ak[ab]][ak[ab]][ak[ab]][ak[ab]]]]"/>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.contacts', 'text': u'ALL', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[553,280][944,476]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}" eigenvalue="[aa[ab][ab][ac][AD[ab][ab][ab]][ae[ab][AF[aa[ab][ag]][ah[ab][ab]]]][ac]]"/>
</Next>
<All>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.contacts', 'text': u'', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1132,98][1300,266]', 'content-desc': u'Search', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.contacts:id/menu_search', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.contacts', 'text': u'', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1300,98][1440,266]', 'content-desc': u'More options', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.contacts', 'text': u'ALL', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[553,280][944,476]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
</All>
<Optional>
<Info action="{'index': u'0', 'selected': u'true', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.contacts', 'text': u'FAVORITES', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[0,280][553,476]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
</Optional>
</Node>
<Node eigenvalue="[aa[ah[ah[ah[aa[ai[ak[ab]][ak[ab]][ak[ab]][ak[ab]][ap[ab][ap[ac]][ab]][ak[ab]][ak[ab]][ak[ab]][ap[ab][al]][ab][ab][ab][ab][ab][ab][ap[ab]]]]][ap][aa][aa][aa][aa]][ah[al][aa][ap[bm][AD[ab]][AD[ab]][ac][ac][ac]]]]]" level="-1">
<Next>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,0][1440,2392]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.FrameLayout', 'scrollable': u'false'}" eigenvalue="[aa[ah[ah[ap[ap[ac][ab][ac][ap]][ap[ab]][ap[ab]][ah[ap[ab][ag]]]]][ah[al][aa][ap[bm][AD[ab]][AD[ab]][ac][ac][ac]]]]]"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[23,345][371,587]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dfe', 'password': u'false', 'class': u'android.widget.LinearLayout', 'scrollable': u'false'}" eigenvalue="[aa[ah[ah[ak[ap[ac][ab][ap]][ap[ab][ac]][ap[ab]][ap[ab]][ap[ab]][ah[ap[ab]]]]][ah[al][aa][ap[bm][AD[ab]][AD[ab]][ac][ac][ac]]]]]"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u6211\u559c\u6b22', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[109,345][284,587]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}" eigenvalue="[aa[ah[ah[ah[aa[ai[ak[ab]][ak[ab]][ak[ab]][ak[ab]][ap[ab][ap[ac]][ab]][ak[ab]][ak[ab]][ak[ab]][ap[ab][al]][ab][ab][ab][ab][ab][ab][ap[ab]]]]][ap][aa][aa][aa][aa]][ah[al][aa][ap[bm][AD[ab]][AD[ab]][ac][ac][ac]]]]]"/>
</Next>
<Previous>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u6211\u559c\u6b22', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[109,345][284,587]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}" eigenvalue="[aa[ah[ah[ah[aa[ai[ak[ab]][ak[ab]][ak[ab]][ak[ab]][ap[ab][ap[ac]][ab]][ak[ab]][ak[ab]][ak[ab]][ap[ab][al]][ab][ab][ab][ab][ab][ab][ap[ab]]]]][ap][aa][aa][aa][aa]][ah[al][aa][ap[bm][AD[ab]][AD[ab]][ac][ac][ac]]]]]"/>
</Previous>
<All>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[371,345][719,587]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dff', 'password': u'false', 'class': u'android.widget.LinearLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u6b4c\u5355', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[457,345][632,587]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[719,345][1068,587]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dfg', 'password': u'false', 'class': u'android.widget.LinearLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u4e0b\u8f7d', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[806,345][981,587]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/cx2', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'3', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[1068,345][1417,587]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dfh', 'password': u'false', 'class': u'android.widget.LinearLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u6700\u8fd1', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[1155,345][1330,587]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'4', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,675][1440,886]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dfj', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[432,675][572,886]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dfn', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[457,754][513,810]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dfo', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
<Info action="{'index': u'5', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[51,984][497,1293]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/yi', 'password': u'false', 'class': u'android.widget.LinearLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u4e50\u5e93', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[171,984][376,1293]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'6', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[497,984][943,1293]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dgx', 'password': u'false', 'class': u'android.widget.LinearLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u7535\u53f0', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[617,984][822,1293]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'7', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[943,984][1389,1293]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dgy', 'password': u'false', 'class': u'android.widget.LinearLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u9177\u7fa4', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[1063,984][1268,1293]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'8', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,1393][1440,1579]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dfv', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[1310,1393][1363,1579]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dfx', 'password': u'false', 'class': u'android.widget.ImageView', 'scrollable': u'false'}"/>
<Info action="{'index': u'9', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u8dd1\u6b65', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[58,1579][278,1808]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dhc', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'10', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u4f20\u6b4c', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[278,1579][498,1808]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dhd', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'11', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u626b\u63cf', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[498,1579][719,1808]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dhe', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'12', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u6311\u6b4c', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[719,1579][940,1808]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dhf', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'13', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u94c3\u58f0', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[940,1579][1161,1808]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dhg', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'14', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u8bc6\u66f2', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[1161,1579][1382,1808]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dhh', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'15', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,1810][1440,1996]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dg3', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[77,84][290,259]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/v', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'2', 'selected': u'true', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[391,84][538,259]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/wt', 'password': u'false', 'class': u'android.widget.FrameLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'3', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[646,84][793,259]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/wv', 'password': u'false', 'class': u'android.widget.FrameLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'4', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[901,84][1048,259]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/wx', 'password': u'false', 'class': u'android.widget.FrameLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'5', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[1227,84][1363,259]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/a0', 'password': u'false', 'class': u'android.widget.FrameLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[35,2148][260,2373]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/djq', 'password': u'false', 'class': u'android.widget.ImageView', 'scrollable': u'false'}"/>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,2178][296,2392]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/djt', 'password': u'false', 'class': u'android.widget.FrameLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[272,2178][1440,2392]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dja', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'3', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[945,2222][1110,2387]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/djc', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
<Info action="{'index': u'4', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1110,2222][1275,2387]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/djd', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
<Info action="{'index': u'5', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[1275,2222][1440,2387]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dje', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
</All>
</Node>
<Node eigenvalue="[aa[ac][am][ae[AF[aa[ab][ag]][ah[ab][ab]]]]]" level="1">
<Previous>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.contacts', 'text': u'', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1132,98][1300,266]', 'content-desc': u'Search', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.contacts:id/menu_search', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}" eigenvalue="[aa[ab][ab][ac][AD[ab][ab][ab]][ae[ab]][ac]]"/>
</Previous>
</Node>
<Node eigenvalue="[aa[ah[ah[ak[ap[ac][ab][ap]][ap[ab][ac]][ap[ab]][ap[ab]][ap[ab]][ah[ap[ab]]]]][ah[al][aa][ap[bm][AD[ab]][AD[ab]][ac][ac][ac]]]]]" level="-1">
<Previous>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[23,345][371,587]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dfe', 'password': u'false', 'class': u'android.widget.LinearLayout', 'scrollable': u'false'}" eigenvalue="[aa[ah[ah[ah[aa[ai[ak[ab]][ak[ab]][ak[ab]][ak[ab]][ap[ab][ap[ac]][ab]][ak[ab]][ak[ab]][ak[ab]][ap[ab][al]][ab][ab][ab][ab][ab][ab][ap[ab]]]]][ap][aa][aa][aa][aa]][ah[al][aa][ap[bm][AD[ab]][AD[ab]][ac][ac][ac]]]]]"/>
</Previous>
<All>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,0][1440,2392]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.LinearLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,0][1440,241]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/lr', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,83][140,241]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/tt', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[1300,83][1440,241]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/a1h', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,241][1440,364]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/cvh', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[1373,283][1394,322]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/am1', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,364][480,532]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'3', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[480,364][960,532]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'4', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[960,364][1440,532]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,540][1440,2392]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[35,2148][260,2373]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/djq', 'password': u'false', 'class': u'android.widget.ImageView', 'scrollable': u'false'}"/>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,2178][296,2392]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/djt', 'password': u'false', 'class': u'android.widget.FrameLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[272,2178][1440,2392]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dja', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'3', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[945,2222][1110,2387]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/djc', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
<Info action="{'index': u'4', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1110,2222][1275,2387]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/djd', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
<Info action="{'index': u'5', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[1275,2222][1440,2387]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dje', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
</All>
</Node>
<Node eigenvalue="[aa[ah[ah[ap[ap[ac][ab][ac][ap]][ap[ab]][ap[ab]][ah[ap[ab][ag]]]]][ah[al][aa][ap[bm][AD[ab]][AD[ab]][ac][ac][ac]]]]]" level="-1">
<Previous>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,0][1440,2392]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.FrameLayout', 'scrollable': u'false'}" eigenvalue="[aa[ah[ah[ah[aa[ai[ak[ab]][ak[ab]][ak[ab]][ak[ab]][ap[ab][ap[ac]][ab]][ak[ab]][ak[ab]][ak[ab]][ap[ab][al]][ab][ab][ab][ab][ab][ab][ap[ab]]]]][ap][aa][aa][aa][aa]][ah[al][aa][ap[bm][AD[ab]][AD[ab]][ac][ac][ac]]]]]"/>
</Previous>
<All>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,0][1440,2392]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dla', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,0][1440,241]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/lr', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,83][140,241]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/tt', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[1160,83][1300,241]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/a1b', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
<Info action="{'index': u'3', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[1300,83][1440,241]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/a1h', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,241][720,409]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[720,241][1440,409]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,416][1440,2178]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'\u70b9\u51fb\u91cd\u8bd5', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[396,1545][1044,1685]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/bmq', 'password': u'false', 'class': u'android.widget.Button', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[35,2148][260,2373]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/djq', 'password': u'false', 'class': u'android.widget.ImageView', 'scrollable': u'false'}"/>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[0,2178][296,2392]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/djt', 'password': u'false', 'class': u'android.widget.FrameLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[272,2178][1440,2392]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dja', 'password': u'false', 'class': u'android.widget.RelativeLayout', 'scrollable': u'false'}"/>
<Info action="{'index': u'3', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[945,2222][1110,2387]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/djc', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
<Info action="{'index': u'4', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1110,2222][1275,2387]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/djd', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
<Info action="{'index': u'5', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.kugou.android', 'text': u'', 'long-clickable': u'false', 'enabled': u'true', 'bounds': u'[1275,2222][1440,2387]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.kugou.android:id/dje', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}"/>
</All>
</Node>
<Node eigenvalue="[aa[as[ab][ab]][al][ah[ab][ab][ab][ab]]]" level="-1">
<Next>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'\u9177\u72d7\u97f3\u4e50', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[306,126][582,498]', 'content-desc': u'\u9177\u72d7\u97f3\u4e50', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}" eigenvalue="[aa[as[ab][ab]][al][ah[ab][ab][ab][ab]]]"/>
</Next>
<Previous>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'\u9177\u72d7\u97f3\u4e50', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[306,126][582,498]', 'content-desc': u'\u9177\u72d7\u97f3\u4e50', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}" eigenvalue="[aa[as[ab][ab]][al][ah[ab][ab][ab][ab]]]"/>
</Previous>
<All>
<Info action="{'index': u'3', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Letv', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[582,126][858,498]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'6', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[636,1986][804,2084]', 'content-desc': u'Apps list', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/all_apps_handle', 'password': u'false', 'class': u'android.widget.ImageView', 'scrollable': u'false'}"/>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Phone', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[47,2130][289,2375]', 'content-desc': u'Phone', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Messaging', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[323,2130][565,2375]', 'content-desc': u'Messaging', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Browser', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[875,2130][1117,2375]', 'content-desc': u'Browser', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'3', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Snapdragon Camera', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1151,2130][1393,2375]', 'content-desc': u'Snapdragon Camera', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
</All>
</Node>
<Node eigenvalue="[aa[ab][ab][ac][AD[ab][ab][ab]][ae[ab][AF[aa[ab][ag]][ah[ab][ab]]]][ac]]" level="1">
<Previous>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.contacts', 'text': u'ALL', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[553,280][944,476]', 'content-desc': u'', 'focusable': u'false', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}" eigenvalue="[aa[ab][ab][ac][AD[ab][ab][ab]][ae[ab]][ac]]"/>
</Previous>
</Node>
<Node eigenvalue="[aa[AF[ak[ab]][ak[ab]][ak[ab]][ak[ab]]]]" level="1">
<Previous>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.contacts', 'text': u'', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1300,98][1440,266]', 'content-desc': u'More options', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'', 'password': u'false', 'class': u'android.widget.ImageButton', 'scrollable': u'false'}" eigenvalue="[aa[ab][ab][ac][AD[ab][ab][ab]][ae[ab]][ac]]"/>
</Previous>
</Node>
</Root>
