<?xml version="1.0" encoding="utf-8"?>
<Root>
<Node eigenvalue="[aa[aa[am][ar[ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab]]]]">
<Next>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'  Search Apps', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[64,126][1376,308]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/search_box_input', 'password': u'false', 'class': u'android.widget.EditText', 'scrollable': u'false'}" eigenvalue="[aa[aa[am][ar[ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab]]]]"/>
</Next>
<Previous>
<Info action="{'index': u'0', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'  Search Apps', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[64,126][1376,308]', 'content-desc': u'', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/search_box_input', 'password': u'false', 'class': u'android.widget.EditText', 'scrollable': u'false'}" eigenvalue="[aa[aa[am][ar[ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab][ab]]]]"/>
</Previous>
<All>
<Info action="{'index': u'1', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Browser', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[32,340][307,712]', 'content-desc': u'Browser', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'2', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Calculator', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[307,340][582,712]', 'content-desc': u'Calculator', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'3', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Calendar', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[582,340][857,712]', 'content-desc': u'Calendar', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'4', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Camera360', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[857,340][1132,712]', 'content-desc': u'Camera360', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'5', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Carrier Configure', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1132,340][1408,712]', 'content-desc': u'Carrier Configure', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'6', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Clock', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[32,712][307,1084]', 'content-desc': u'Clock', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'7', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'CNESettings', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[307,712][582,1084]', 'content-desc': u'CNESettings', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'8', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Contacts', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[582,712][857,1084]', 'content-desc': u'Contacts', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'9', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Downloads', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[857,712][1132,1084]', 'content-desc': u'Downloads', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'10', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Email', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1132,712][1408,1084]', 'content-desc': u'Email', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'11', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'File Manager', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[32,1084][307,1456]', 'content-desc': u'File Manager', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'12', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'FM Radio', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[307,1084][582,1456]', 'content-desc': u'FM Radio', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'13', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'improveTouch', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[582,1084][857,1456]', 'content-desc': u'improveTouch', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'14', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Letv', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[857,1084][1132,1456]', 'content-desc': u'Letv', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'15', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'MdtpDemo', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1132,1084][1408,1456]', 'content-desc': u'MdtpDemo', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'16', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'MdtpDemo Web Interface', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[32,1456][307,1828]', 'content-desc': u'MdtpDemo Web Interface', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'17', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Messaging', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[307,1456][582,1828]', 'content-desc': u'Messaging', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'18', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Music', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[582,1456][857,1828]', 'content-desc': u'Music', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'19', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Notes', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[857,1456][1132,1828]', 'content-desc': u'Notes', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'20', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Ocean', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1132,1456][1408,1828]', 'content-desc': u'Ocean', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'21', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'OMACPDemo', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[32,1828][307,2200]', 'content-desc': u'OMACPDemo', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'22', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'OmaDrmEngineDemo', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[307,1828][582,2200]', 'content-desc': u'OmaDrmEngineDemo', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'23', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Phone', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[582,1828][857,2200]', 'content-desc': u'Phone', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'24', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'QQMusic', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[857,1828][1132,2200]', 'content-desc': u'QQMusic', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'25', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'QQPlayer', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1132,1828][1408,2200]', 'content-desc': u'QQPlayer', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'26', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'QQ\u5b89\u5168\u4e2d\u5fc3', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[32,2200][307,2392]', 'content-desc': u'QQ\u5b89\u5168\u4e2d\u5fc3', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'27', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'QSensorTest', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[307,2200][582,2392]', 'content-desc': u'QSensorTest', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'28', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'QTI Logkit', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[582,2200][857,2392]', 'content-desc': u'QTI Logkit', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'29', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Search', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[857,2200][1132,2392]', 'content-desc': u'Search', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
<Info action="{'index': u'30', 'selected': u'false', 'checked': u'false', 'clickable': u'true', 'package': u'com.android.launcher3', 'text': u'Secure Camera Sample', 'long-clickable': u'true', 'enabled': u'true', 'bounds': u'[1132,2200][1408,2392]', 'content-desc': u'Secure Camera Sample', 'focusable': u'true', 'focused': u'false', 'checkable': u'false', 'action': 'Click', 'resource-id': u'com.android.launcher3:id/icon', 'password': u'false', 'class': u'android.widget.TextView', 'scrollable': u'false'}"/>
</All>
</Node>
</Root>
