<?xml version='1.0' encoding='utf-8'?>
<root>
	<class id="0" name="android.widget.FrameLayout" type="common" />
	<class id="1" name="android.widget.TextView" type="common" />
	<class id="2" name="android.widget.ImageButton" type="common" />
	<class id="3" name="android.widget.HorizontalScrollView" type="list" />
	<class id="4" name="android.support.v4.view.ViewPager" type="common" />
	<class id="5" name="android.widget.ListView" type="list" />
	<class id="6" name="android.widget.Button" type="common" />
	<class id="7" name="android.view.ViewGroup" type="common" />
	<class id="8" name="android.widget.ScrollView" type="common" />
	<class id="9" name="android.view.View" type="common" />
	<class id="10" name="android.widget.LinearLayout" type="common" />
	<class id="11" name="android.widget.ImageView" type="common" />
	<class id="12" name="android.widget.EditText" type="common" />
	<class id="13" name="android.widget.Spinner" type="common" />
	<class id="14" name="android.widget.RadioButton" type="common" />
	<class id="15" name="android.widget.RelativeLayout" type="common" />
	<class id="16" name="android.widget.CheckBox" type="common" />
	<class id="17" name="android.support.v7.widget.RecyclerView" type="common" />
	<class id="18" name="com.android.launcher3.Workspace" type="common" />
	<class id="19" name="android.support.v4.widget.DrawerLayout" type="common" />
	<class id="20" name="android.appwidget.AppWidgetHostView" type="common" />
	<class id="21" name="com.android.inputmethod.keyboard.Key" type="common" />
	<class id="22" name="android.widget.Switch" type="common" />
	<class id="23" name="android.widget.MultiAutoCompleteTextView" type="common" />
	<class id="24" name="android.widget.GridView" type="common" />
	<class id="25" name="android.widget.CheckedTextView" type="common" />
	<class id="26" name="android.widget.ProgressBar" type="common" />
	<class id="27" name="android.widget.ExpandableListView" type="common" />
	<class id="28" name="android.widget.QuickContactBadge" type="common" />
	<class id="29" name="android.support.v7.app.ActionBar$Tab" type="common" />
	<class id="30" name="android.support.v7.widget.LinearLayoutCompat" type="common" />
	<class id="31" name="android.widget.RadialTimePickerView$RadialPickerTouchHelper" type="common" />
	<class id="32" name="android.widget.NumberPicker" type="common" />
	<class id="33" name="android.widget.RadioGroup" type="common" />
	<class id="34" name="android.widget.TabHost" type="common" />
	<class id="35" name="com.tencent.qqlive.views.hlistview.widget.HListView" type="common" />
	<class id="36" name="android.webkit.WebView" type="common" />
	<class id="37" name="android.widget.Image" type="common" />
	<class id="38" name="android.widget.SeekBar" type="common" />
	</root>